# .env file
WECHAT_APP_ID=
WECHAT_UNIVERSAL_LINK=https://app.duoshaokankan.com/wechat/

# 模型服务的基础 URL (请根据实际情况修改)
# 例如: http://your-model-service.com/api
MODEL_BASE_URL=

# 后端服务的基础 URL (用于上传等)
BACKEND_BASE_URL=