# Local iOS simulator / desktop debug environment
WECHAT_APP_ID=wx63e4ec5ea3c1451f
WECHAT_UNIVERSAL_LINK=https://app.duoshaokankan.com/wechat/

BACKEND_BASE_URL=http://localhost:8187
INTERNATIONAL_API_URL=http://localhost:8187

MODEL_BASE_URL=http://47.113.230.11:5107
INTERNATIONAL_MODEL_URL=http://47.113.230.11:5107
